body {
  width: 100%;
  height: 100%;
  margin: 0;
}
h1 {
  text-align: center;
}
img {
  display: block;
  margin-left: auto;
  margin-right: auto;
}
nav a {
  padding: 0 10px;
  background-color: grey;
}
figcaption {
  font-size: 16px;
  text-align: center;
}

#featured-property p {
  width: 800px;
  text-align: center;
  margin: auto;
}
#details {
  display:block;
}
#details div {
  float: left;
  background-color: red;
  text-align: center;
  width: 25%;
}
